# Android / Gradle
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/
android/**/*.iml
android/*.jks
android/*.keystore
android/app/release/
android/app/debug/

# OS / Develop
.DS_Store
.vscode/
Thumbs.db
emulator.log

# Local Scripts
scripts/

# Debug
debug/
